@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #071a3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-anvil-navy: #071a3d;
  --color-anvil-blue: #0f4ba6;
  --color-anvil-accent-blue: #0098DA;
  --color-anvil-sky: #eaf3ff;
  --color-anvil-slate: #5f6b7f;
  --color-anvil-soft: #f4f7fb;
  --color-anvil-border: #d7dee8;
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

.font-display {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* .bg-anvil-accent-blue {
  background-color: var(--color-anvil-accent-blue);
}

.border-anvil-accent-blue {
  border-color: var(--color-anvil-accent-blue);
}

.text-anvil-accent-blue {
  color: var(--color-anvil-accent-blue);
} */
